<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px">

            <div style="display: flex;align-content: center;">
            
               <div class="div-bg">
                
                <div class="div-content">
                   
                   
                    <p>🌟 Welcome to our Nutritionix Hub, your gateway to a delightful world of nutrition! 🍏🎉 Immerse yourself in the goodness of health as you explore a diverse array of foods. Click on any item to uncover a treasure trove of valuable health facts and benefits, turning your journey into an exciting quest for well-being. 🥦✨ Create your personal wishlist, curating a collection of your favorite foods for instant access whenever hunger strikes. 📌 Whether you're a seasoned health enthusiast or just starting, our Nutritionix Hub is your go-to destination for nourishment. Embark on this wellness journey with a simple click, and discover the joy of making healthy choices. 🌈 Join us in celebrating the art of balanced living! Your adventure towards a healthier you begins here. 🍇🥑 Welcome to Nutritionix, where every click is a step towards a happier, healthier you! 🌟</p></div>
               </div>
               </div>
        </div>
    </div>
</div>