  <div class="login-wrapper">
   <div class="login-container">
    <div class="login-form">
     <mat-card style="background-color: rgba(255, 255, 255, 0.8)">
      <h1 style="text-align: center"><b><i>LOGIN</i></b> </h1>
      <form  (ngSubmit)="loginFormSubmit()">
          
     <!--Phone number-->
     <mat-form-field style="width:100%" appearance="outline">
      <mat-label>Phone number</mat-label>
      <input [(ngModel)]="loginData.phoneNumber" name="phoneNumber" matInput placeholder="Enter Here" required>
      <mat-hint *ngIf="loginData.phoneNumber && !phoneNumberRegex.test(loginData.phoneNumber)" style="color:rgb(255, 0, 0)">Invalid phone number</mat-hint>
     </mat-form-field>
      <!--Password-->
 <mat-form-field style="width:100%" appearance="outline">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="loginData.password" name="password" type="password" matInput placeholder="Enter Here" required>
      <mat-hint *ngIf="loginData.password && (loginData.password.length < 8)" style="color:rgb(255, 0, 0)">Password must be at least 8 characters</mat-hint>
     </mat-form-field>
            <div class="container" style="text-align: center">
        <button type="submit" mat-raised-button style="background-color: #15E4E4">Login</button>
       </div>
       <div class="signup-link" style="text-align: center">
        <p>Not a user?<a routerLink="/signup"> Sign up</a></p>
       </div>
      </form>
     </mat-card>
    </div>
    <div class="about-section">
     <p>Welcome to <b>NUTRITIONIX!</b> 🌟 Dive into a world of nutritional wisdom with just a tap. 🍏✨ Explore the goodness of your favorite foods, save insights, and transform your well-being effortlessly. It's time to savor the taste of a healthier life! 🌱🔍</p>
    </div>
   </div>
  </div>
  
  
  
  
  